/*######################################################
Portfolio Content
##################################################### */
#container .portfolioContent
{
	margin: 14px 0 0 0;
	text-align: left;
}
/*######################################################
---/ End Portfolio Content
##################################################### */





/* #######################################################
Grey Separator
####################################################### */
#container .greySeparator
{
	clear: both;
	margin: 46px 0 0 0;
	height: 1px;
	background-color: #807873;
}
/* #######################################################
---/ End Grey Separator
####################################################### */






/*######################################################
Description
##################################################### */
#container .description
{
	float: left;
	margin: 46px 0 0 0;
	text-align: left;
	width: 650px;
}

#container .description h1
{
	font: bold  0.75em "Times New Roman", Times, serif;
	color: #b73c0c;

}
 .pub_title {
	font: bold  0.8em "Times New Roman", Times, serif;
  font-weight:bold;
  display:inline;
  color: #da470e;
}
#container .description a{
  font-size:0.7em;
  display:inline;
	color: rgba(113, 37, 7, 1);
}

 .pub_press {
  font-size:1em;
  display:inline;
	color: #807873;
padding: 0 0 10px 10px;
	 	font-style: italic;


}






#container .description h2
{
	padding: 0 0 10px 0;
	font: normal 0.583em "Times New Roman", Times, serif;
	color: #807873;
	border-bottom: 1px solid #807873;
}

#container .description p
{
	margin: 20px 0 20px 0;
	font: normal 0.583em "Times New Roman", Times, serif;
	color: #373431;
	line-height: 1.5em;
}

/*######################################################
---/ End Description
##################################################### */





/*######################################################
Image
##################################################### */
#container .image
{


	float: right;
	margin: 56px 0px 0 0;
}
/*######################################################
---/ End Image
##################################################### */







